* {
	padding: 0;
	margin: 0;
}

body{
  display: block;
  margin: auto;
  width: fit-content;
  height: fit-content;
}

h1{
	text-decoration: underline overline #FF3028;
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 30px;
	display: block;
	text-align: center;
}

#chessBoard {
	border: solid black 3px;
	width: 560px;
	height: 560px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

#corps{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#chess-clock{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#start-button{
	width: 100px;
	margin-top: 100px;
	transition: 0.4s;
  background-color: white;
  border: solid black 2px;
  border-radius: 5px;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#start-button:hover {
  background-color: black;
  color: white;
}

#white-clock{
	background-color: white;
	color: black;
	border: solid black 2px;
	border-radius: 4px;
	margin: 5px;
	padding: 2px;
}

#black-clock{
	background-color: black;
	color: white;
	border: solid black 2px;
	border-radius: 4px;
	margin: 5px;
	padding: 2px;
}

.piece {
	top: 50%;
	left: 50%;
	align-items: center;
}

.square{
 	width: 70px;
	height: 70px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

